{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The sequence of Nature</title>

    <!-- Bootstrap CSS (from CDN) -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- Montserrat Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />

    <!-- Concrete CSS. Didnt like bootstrap components and im not paying 99$ to get different styles. -->
    <style>
      .search-container {
        text-align: center;
        margin-top: 50px;
      }

      .search-input {
        font-size: 1.5rem;
        padding: 10px;
        width: 300px;
      }
    </style>
  </head>
  <body>
    <header>
        <h1>Find <span style="color: white; text-shadow: 0 0 10px #48abe0;">your</span> Frequency.</h1>



    </header>

    <form
      class="form-inline d-flex justify-content-center"
      action="{{ url_for('get_all_posts') }}"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="wavFile" class="sr-only">Choose a .WAV File</label>
        <input
          type="file"
          class="form-control-file mb-3"
          id="wavFile"
          name="wav_file"
          accept=".wav"
          required
        />
      </div>
      <button class="btn btn-primary custom-btn" type="submit">
        Submit a Song
      </button>
    </form>

    <!-- Bootstrap JS and jQuery (from CDN) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  {% include "footer.html" %}
</html>
